* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #000;
  --secondary-color: #fff;
}

html.dark {
  --primary-color: #fff;
  --secondary-color: #333;
}

html.dark body {
  background-color: #111;
  color: var(--primary-color);
}

body {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Play', sans-serif;
  transition: all 0.5s ease-in;
  background-color: aliceblue;
}

.toggle {
  margin-bottom: 100px;
  border: 0;
  background: transparent;
}

.toggle i {
  font-size: 1.8rem;
  color: var(--primary-color);
}

.clock {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-bottom: 100px;
  background-color: var(--secondary-color);
}

.needle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: bottom center;
  height: 100px;
  width: 5px;
  z-index: 1;
  /* transition: all 0.5s ease-in; */
}

.hour {
  transform: translate(-50%, -100%) rotate(0deg);
  background-color: var(--primary-color);
}

.minute {
  height: 120px;
  transform: translate(-50%, -100%) rotate(0deg);
  background-color: var(--primary-color);
}

.second {
  height: 125px;
  transform: translate(-50%, -100%) rotate(0deg);
  background-color: red;
}

.point {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
}

.num {
  position: absolute;
  font-size: 2rem;
}

.twelve {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.fifteen {
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.eighteen {
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.twenty_one {
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.time {
  font-size: 3rem;
}

.date .circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  transition: all 0.5s ease-in;
}

.ampm {
  font-size: 1.7rem;
}